<div class="row">
  <div class="col-12">
    <img id="face-image" src="http://www.adhamdannaway.com/wp-content/themes/ad/images/adham-dannaway-designer-coder.jpg" alt="adham dannaway ui designer" />
      <div id="designer" class="col-lg-3 col-lg-offset-1" >
        <ul>
          <li><h1 style=""><b>designer</b></li>
        </ul>
      </div>
      <div id="coder" class="col-lg-3 col-lg-offset-8" >
        <ul>
          <li><h1 ><b>&lt;coder&gt;</b></h1></li>
        </ul>
      </div>
  </div>
</div>

<div class="row">
   <p class="title">
    Are you the one we are waiting for?
   </p>
   <div class="col-sm-3 col-sm-offset-1 ">
     <div  class="blue-border"></div>
     <div class="title-description1">
       Coders with sufficient skills and knowledge to write clean, elegant and efficient code.
     </div>
   </div>
   <div class="col-sm-3" style="margin-left:50px;">
     <div class="blue-border"></div>
     <div class="title-description1">
       UI/UX Designers with a passion for designing beautiful and functional user experiences.
     </div>
   </div>
   <div class="col-sm-3 " style="margin-left:50px;">
     <div class="blue-border"></div>
     <div class="title-description1" >
       Passionate people who have awesome ideas to realize and want a creative, fun and rewarding job .
     </div>
   </div>
</div>
<div class="row"  >
      <p class="title">Why us?</p>
      <div class="blue-border"></div>
      <div class="title-description2">
        <ul>
          <li>
            <span class="des2-title">Apply privately</span>
            <br /> Only companies you apply to will see you're looking for a job. Your current boss won't know.
          </li>
          <li>
            <span class="des2-title">See salary up-front</span>
            <br />  See salary and equity before you apply.
          </li>
          <li>
            <span class="des2-title">No Middlemen</span>
            <br />  Speak directly to the startup's founders. No recruiters allowed.
          </li>
          <li>
            <span class="des2-title">Partner startups around the world</span>
            <br />  Thousands of the world's best startups are hiring on Startstar.
          </li>
        </ul>
      </div>
</div>
<div id="get-started" class="col-sm-2 col-sm-offset-5">
    <%= link_to("Get Started", jobs_path(@jobs), :class => "btn btn-default") %>
</div>
<div class="row">
  <img id="map"src="https://ww3.sinaimg.cn/large/006tNc79gy1fbtxxtz0lej31kw0o1dkj.jpg" />
</div>
