<div id="content" class="content clearfix home">
    <div class="row">
      <div class="col-12">
        <div id="face" class="face">
            <div id="designer" class="designer">
              <div id="designer-desc" class="description">
                <h1>designer</h1>
                <p>UI/UX Designer with a passion for designing beautiful and functional user experiences. <span class="more">Minimalist who believes that less is more.</span></p>
              </div>
            </div>
            <div id="coder" class="coder">
              <div id="coder-desc" class="description">
                <h1>&lt;coder&gt;</h1>
                <p>Front End Developer who focuses on writing clean, elegant and efficient code. <span class="more">Love HTML, CSS, WordPress and a touch of jQuery.</span></p>
              </div>
            </div>
            <img id="face-img" class="face-img" src="http://www.adhamdannaway.com/wp-content/themes/ad/images/adham-dannaway-designer-coder.jpg" alt="adham dannaway ui designer">
        </div>
      </div>
    </div>
<div>
