// Place all the styles related to the admin::jobs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/




.table{
  margin-top: 20px;
  margin-bottom: 0;
}
.table td,
.table th{
  width: 200px;
  text-align: left;
}


.table thead {
  background-color: #333;
  color: #FDFDFD;
}
.table thead tr {
  display: block;
  position: relative;
}
.table tbody {
  display: block;
  overflow: auto;
  width: 100%;
}
.table tbody tr:nth-child(even) {
  background-color: #333;
}
ul.pagination{
  margin-top: 0;
}
