// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
  margin: 0px;
  padding:0px;
}
.container-fluid{
  padding-left: 0px;
  padding-right: 0px;
}
.navbar {
    margin-bottom: 0px;
}
#welcome .row {
  clear: both;
  width: 100%;
  margin: 0px;
}

#welcome .face {
  width: 100%;
  position: relative;
}
#welcome .face .face-img {
  display: block;
  margin: 0px;
  width: 100%;
}
#welcome .face .coder h1,
#welcome .face .designer h1 {
  font-size: 48px ;
  line-height: 1.4em ;
}
#welcome .face .coder p,
#welcome .face .designer p {
  font-size: 18px ;
  line-height: 1.4em ;
}
#welcome .face .coder,
#welcome .face .designer {
  opacity: 1;
  position: absolute;
    width: 40%;
    display: block;
    z-index: 10;
    height: 100%;
    margin: auto;
    left: 100px !important;
    top: 0;
    bottom: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: top;
    background: transparent;
    font-family: "proxima nova light", "Helvetica Neue", Helvetica, Arial, Sans-serif;
    text-rendering: optimizeLegibility;
}
#welcome .face .designer {
  left: 0;
}
#welcome .face .coder {
  right: 0;
  text-align: right;
}
#welcome .face .coder .description,
#welcome .face .designer .description {
  position: absolute;
  top: 160px;
  width: 270px;
}
#welcome .face .designer .description {
  left: 0px;
}
#welcome .face .coder .description {
  right: 0px;
}
