<footer  style="padding-top:20px;">
    <p class="text-center">Copyright ©2017 Job Listing<br />
        Made with <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/love_copy.png" /> by <a href='https://github.com/chris1203' target='_blank'> Chris </a>
    </p>
</footer>
