<footer  class="footer" >
  <div class="row" >
    <div class="col-sm-3 " style="font-size:20px;margin-left:20px;margin-top:10px;">
      <p >©2017   <i class="fa fa-star-half-o" aria-hidden="true"></i>StartStar Designed by Chris
        <a href="https://github.com/chris1203" class="fa fa-github" target="_blank" style="color:#eee"></a>
      </p>

    </div>
  </div>
</footer>
