<footer  class="footer" style="text-align:right;font-size:20px;">
  <div class="row" >
    <div class="col-sm-1 col-sm-offset-4" >
      <i class="fa fa-twitter" aria-hidden="true"></i>
    </div>
    <div class="col-sm-1 ">
      <a href=""></a>
      <i class="fa fa-github" aria-hidden="true"></i>
    </div>
    <div class="col-sm-1">
      <i class="fa fa-envelope-o" aria-hidden="true"></i>
    </div>
    <div class="col-sm-2 col-sm-offset-3" style="text-align:center;">
      <p >©2017   <i class="fa fa-star-half-o" aria-hidden="true"></i>StartStar</p>
    </div>
  </div>
</footer>
